SECRET_KEY=SECRET_KEY

DEBUG=True

DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

#Почта
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=ваша_почта
EMAIL_HOST_PASSWORD=ваш_пароль_приложения
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=ваша_почта